#main-container {
  #header {
    background-color: peachpuff;
    #nav-bar {
      margin: 0px 10px;
      a {
        font-size: 16px;
        margin: 0px 5px;
        color: black;
        background-color: lightgrey;
      }
      .active {
        color: black;
        background-color: white
      }
    }
  }
  #main-content {
    padding: 20px;
  }
}
